/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
    background-color: #000;
    border: 6px solid #fff;
}

.profile-name {
    font-size: 28px;
    margin-top: 60px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px; /* Add padding to the bottom of the main content */
}

.card {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 40px;
}

/* Footer internal elements */
footer p {
    margin: 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ccc;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    header {
        padding-top: 0;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .profile-name {
        font-size: 16px;
        margin-top: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        display: none;
    }

    nav ul.show {
        display: block;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    #hamburger-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 999;
    }
}

/* Botão Modo Escuro */
#dark-mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botão Modo Claro */
#light-mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

/* Alinhamento dos botões para telas menores */
@media (max-width: 767px) {
    #dark-mode-btn, #light-mode-btn {
        position: static;
        margin-top: 10px;
        width: 100%;
    }
}

/* Estilo para o card de clima */
.weather-container {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather-info {
    margin-bottom: 10px;
}

#weather-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

/* Ajuste de posicionamento e tamanho do card de clima */
@media (max-width: 767px) {
    .weather-container {
        grid-column: span 3; /* Ocupa toda a largura do grid em telas menores */
        margin-top: 20px; /* Espaçamento acima do card */
    }

    #weather-icon {
        width: 30px;
        height: 30px;
    }
}








