:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333333;
    --success-color: #28a745;
    --error-color: #dc3545;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header,
nav,
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.message.success {
    color: var(--success-color);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.message.error {
    color: var(--error-color);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--secondary-color);
}

/* Efeito responsivo */
@media only screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
